In [36]:
import pandas as pd
import glob
import os
pd.set_option('display.max_colwidth', 1000)

In [7]:
pd.read_csv('../dataset/dev.tsv', sep="\t")

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment
0,8c291e945fb6385826e7267c9c5fe85facc208435ed5c1...,common_voice_en_19551053.mp3,Takuma Sato's disappointing afternoon ended wi...,2,0,NaN,NaN,NaN,en,NaN
1,8c291e945fb6385826e7267c9c5fe85facc208435ed5c1...,common_voice_en_19551055.mp3,Tony Roma's menu has further expanded to inclu...,2,0,NaN,NaN,NaN,en,NaN
2,8c291e945fb6385826e7267c9c5fe85facc208435ed5c1...,common_voice_en_19551056.mp3,There's nobody that rich and stupid and narcis...,2,0,NaN,NaN,NaN,en,NaN
3,8c693b817e3e64a27e6efc5d589e49701f0555b6207d21...,common_voice_en_21079673.mp3,The trail often coincides with other trails wi...,2,0,NaN,NaN,NaN,en,NaN
4,8c693b817e3e64a27e6efc5d589e49701f0555b6207d21...,common_voice_en_21079675.mp3,He kept extensive notes on opposing players an...,2,0,NaN,NaN,NaN,en,NaN
...,...,...,...,...,...,...,...,...,...,...
16159,cacde03f2a58129fa7de269c76534050552fc9f3101c9b...,common_voice_en_82206.mp3,My foster son is a sleepwalker.,2,0,NaN,male,us,en,NaN
16160,cb0a6ad6694db16b53ed24f5880a267d6bc62761f789df...,common_voice_en_19718768.mp3,The lands were acquired by Don Julio Cilloniz ...,2,0,NaN,NaN,NaN,en,NaN
16161,cb0a6ad6694db16b53ed24f5880a267d6bc62761f789df...,common_voice_en_19718771.mp3,Jazz pioneer Miles Davis has been named as a p...,2,0,NaN,NaN,NaN,en,NaN
16162,cb0a6ad6694db16b53ed24f5880a267d6bc62761f789df...,common_voice_en_19718774.mp3,"In club rowing, regattas less often offer ligh...",2,0,NaN,NaN,NaN,en,NaN
16163,cb0a6ad6694db16b53ed24f5880a267d6bc62761f789df...,common_voice_en_19718777.mp3,Limited edition cards have also been sold to r...,2,0,NaN,NaN,NaN,en,NaN

In [4]:
dfs = [pd.read_csv(file, sep="\t") for file in glob.glob("../dataset/*.tsv")]
df = pd.concat(dfs, axis=0, ignore_index=True)

C:\Users\kingsun\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [38]:
tmp_list = []
for file in glob.glob("../dataset/*.tsv"):
    tmp = pd.read_csv(file, sep="\t")
    tmp["source"] = file.split("\\")[-1].split(".")[0]
    tmp_list.append(tmp)
df = pd.concat(tmp_list, axis=0, ignore_index=True)

C:\Users\kingsun\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
df.sample(5)

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment,source,sentence_id,reason
291142,f95c9f478228e092e2955d5f9ac7f3ed04e8e3d6dae1cde6bb7ff2906bd5196e116ed863adfbbe02dd7c2012665a5d5d3f85d447a1c9cc58d293eeded5ee1763,common_voice_en_18180025.mp3,She carefully removed the evidence from its packaging.,0.0,0.0,thirties,male,england,en,NaN,other,NaN,NaN
1744799,765eb7b336c85e990a7bd81298fe7a7fde540e15fd08d1645cfe4d8ff1d893bf9c3eeead1dd13c1eaf7a936a264b1357f4ee8d7d4e0a44722ffeee2ccc20cf88,common_voice_en_21686920.mp3,"The glider, however, delivered two major disappointments.",2.0,1.0,fifties,male,canada,en,NaN,validated,NaN,NaN
1880197,5b6da28793f5d084ab55a3ba94aa903ec2d6d406d8fbeebb1c3abedf76dfd98d5a98aeef62cffd555832dbaff979f736e31e4861213aedaf6a1e7e4b361cccb8,common_voice_en_685885.mp3,I done my best.,3.0,1.0,seventies,male,england,en,NaN,validated,NaN,NaN
639851,1b4db6de77807520c5ed5b95877a57d6c4e7857fab08440f117ed0ebfdc06e7e70856f9e05aa909e49459847ce6d5f8011c5472f2d040a0e14d7b4dd9e9c8d14,common_voice_en_23820459.mp3,"In the first week, Ullrich became sick and almost retired.",2.0,0.0,twenties,male,us,en,NaN,train,NaN,NaN
1164392,96c75c9986141397a91930e10d389b7f7dd1e41e40bda244c46a0fe387fdb400f0a46758efee8010f1412e8bc35bdf1992f0673dd0a647dce01543bb788b2ec6,common_voice_en_579065.mp3,But now the sounds inside had stopped.,8.0,2.0,NaN,NaN,NaN,en,NaN,validated,NaN,NaN